.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 125px;
}

.logo {
  position: relative;
  padding: 33px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 28px;
  font: 500 18px/17px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover:after {
  position: absolute;
  left: 0;
  display:block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}

.main {
  padding: 6% 63% 267px 0;
  background: top right no-repeat url('img/mainimg.svg');
  background-size: 40vw 35vw;
}

.main__title {
  font: bold 71px/83px pt_serif, arial, helvetica, sans-serif;
  margin: 0 0 45px 0;
}

.main__title-text_highlight {
  background: #ECF3FF;
}

.main__subtitle {
  font: 500 22px/26px Roboto, arial, helvetica, sans-serif;
  margin: 0 16% 41px 0;
}

.main__button {
  display: inline-block;
  font: 500 18px/28px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 15px 28px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

.lower {
  display: flex;
  justify-content: center;
}

.lower__circles {
  width: 8px;
  height: 8px;
  margin-right: 4px;
  background: #C8DBFB;
  border-radius: 50%;
  opacity: .7;
}

.lower__circles:last-child {
  margin-right: 0;
}

#checkbox {
  display: none;
}

@media (max-width: 800px) {
  .menu {
    display: none;
    padding: 135px 100% 100%;
    margin-top: 30px;
    flex-direction: column;
    position: absolute;
    z-index: 1;
  }

  .menu__item {
    display: block;
    margin: 0 0 24px 0;
    font: 500 30px/35px Roboto, arial, helvetica, sans-serif;
  }

  .menu__item_active::after {
    background: #fff;
  }

  .logo {
    position: absolute;
    left: 7%;
    padding-top: 0;
  }

  .logo__title {
    display: none;
  }

  .logo__circle_color_dark-blue {
    top: 12px;
  }

  .header {
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 63px;
  }

  .main {
    text-align: center;
    padding: 90% 0 0;
    background-size: 97%;
    background-position: top center;
  }

  .main__title {
    margin-bottom: 36px;
    font: bold 32px/39px pt_serif, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    margin: 0 0 27px 0;
    padding: 0 10px;
    font: 500 17px/18px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    font: 13px/16px Roboto, arial, helvetica, sans-serif;
  }

  .menu__burger {
    display: flex;
    align-items: center;
    position: absolute;
    top: 32px;
    left: 87%;
    width: 25px;
  	height: 17px;
    cursor: pointer;
    z-index: 1;
  }

  .lower__circles {
    display: none;
  }

  .menu__burger > span,
  .menu__burger > span::before,
  .menu__burger > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #0056ec;
  }
  .menu__burger > span::before {
    content: '';
    top: -8px;
  }
  .menu__burger > span::after {
    content: '';
    top: 8px;
  }
  #checkbox:checked ~ .menu__burger > span {
    transform: rotate(45deg);
  }
  #checkbox:checked ~ .menu__burger > span::before {
    top: 0;
    transform: rotate(0);
  }
  #checkbox:checked ~ .menu__burger > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #checkbox:checked ~ .menu {
    display: flex;
    background-color: #fff;
  }

  #checkbox:checked ~ .logo {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .wrapper {
    margin: auto;
    width: 92%;
    max-width: 1024px;
  }

  .header {
    margin-bottom: 100px;
  }

  .logo {
    font: bold 25px/29px pt_serif, arial, helvetica, sans-serif;
  }

  .menu__item {
    margin-right: 27px;
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }

  .main {
    padding: 9px 59% 146px 0;
    background-size: 50vw 41vw;
  }

  .main__title {
    margin-bottom: 38px;
    font: bold 54px/66px pt_serif, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    margin: 0 0 41px 0;
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    font: 500 13px/16px Roboto, arial, helvetica, sans-serif;
  }
}

@media (min-width: 1366px) and (max-width: 1920px) {
  .wrapper {
    margin: auto;
    width: 69%;
  }

  .header {
    margin-bottom: 92px;
  }

  .logo {
    font: bold 26px/28px pt_serif, arial, helvetica, sans-serif;
  }

  .menu__item {
    margin: 5px 24px 0 0;
    font: 500 15px/17px Roboto, arial, helvetica, sans-serif;
  }

  .main {
    padding: 2% 56% 147px 0;
    background-size: 38vw 32vw;
  }

  .main__title {
    margin-bottom: 40px;
    font: bold 54px/65px pt_serif, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    margin-bottom: 41px;
    font: 500 18px/22px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    font: 500 13px/15px Roboto, arial, helvetica, sans-serif;
  }
}
